/**
 * BANNER
 */


/**
 * Announcment Bar
 */

#announcement-bar {
  background-color: #29333F;
  height: 45px;

}

#announcement-bar .announcement-bar-icon {
  padding-top: 12px;
  display: inline-block;

}

#announcement-bar #announcement-bar-icon-left {
  float: left;
  width: 44%;

  img {
    float: right;
  }
}

#announcement-bar #announcement-bar-icon-right {
  float: right;
  width: 44%;

  img {
    transform: scaleX(-1);
    float: left;
  }  
}

#announcement-bar p {
  margin: 0;
  width: 12%;
  padding-top: 13px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

#announcement-bar #announcement-bar-close {
  float: right;
  margin: -1px 5px 0 0;
}

/**
 * Main Banner
 */

header.container {
  height: 90px;
  float: none;
  max-width: 100%;
}

header .banner-logo {
  margin-bottom: 0;
  padding-top: 15px;
  float: left;
}


header .logo-image {
  margin-left: 60px;

  img {
    width: 160px;
  }
}

header nav li {
  float: left;
}

header nav .menu {

}

header nav .menu .menu-item {
  list-style-type: none;

  a {
    font-weight: 400;
    text-decoration: none;
  }

}

header nav .mega-menu {
  display: none;
}

header .search {
  float: right;
}
header .cart {
  float: right;
}

