/**
 * HEADER
 */


/**
 * Announcment Bar
 */

#announcement-bar {
  background-color: #29333F;
  height: 45px;

  @media (max-width: 1024px) {
    display: none;
  }
}

#announcement-bar .announcement-bar-icon {
  padding-top: 12px;
  display: inline-block;

}

#announcement-bar #announcement-bar-icon-left {
  float: left;
  width: 44%;

  img {
    float: right;
  }
}

#announcement-bar #announcement-bar-icon-right {
  float: right;
  width: 44%;

  img {
    transform: scaleX(-1);
    float: left;
  }  
}

#announcement-bar p {
  margin: 0;
  width: 12%;
  padding-top: 13px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

#announcement-bar #announcement-bar-close {
  cursor: pointer;
  float: right;
  margin: -1px 6.5% 0 0;
}

/**
 * Main Banner
 */

header.container {
  height: 90px;
  float: none;
  max-width: 100%;
}

header .banner-logo {
  margin-bottom: 0;
  padding-top: 15px;
  float: left;
}


header .logo-image {
  margin-left: 60px;

  img {
    width: 160px;
  }
}

header nav li {
  float: left;
}

header nav .menu.six.columns {
  margin-top: 30px;

  @media (max-width: 1500px) {
    margin-left: 10%;
  }
  @media (max-width: 1300px) {
    margin-left: 5%;
  }  
}

.menu .menu-item {
  margin-left: 5%;
  list-style-type: none;

  a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #29333F;
  }

  @media (max-width: 1300px) {
    margin-left: 3%;
  }  

  @media (max-width: 1024px) {
    display: none;
  }
}
.menu.login {
  margin-top: 30px;
  margin-right: 1%;

  @media (max-width: 1975px) {
    margin-left: 2%;
  }
  @media (max-width: 1685px) {
    margin-left: 0%;
  } 
  @media (max-width: 1200px) {
    margin-left: 3%;
  }    
}

.menu .menu-item.login {
  a {
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    padding: 2px 12px;
    border-left: 1px solid #E6E9ED;
    border-right: 1px solid #E6E9ED;
  }
}

header .mega-menu {
  background: #fff;
  box-shadow: 0px 1px 0px #E6E9ED, -1px 0px 0px #E6E9ED, 1px 0px 0px #E6E9ED, 0px -1px 0px #E6E9ED;
  border-radius: 0px 0px 2px 2px;

}

header .mega-menu-group {
  float: left;
  margin: 20px 60px 10px 60px;
}

.mega-menu-group.mega-odd {
  margin-top: 60px;
  margin-left: -10px;
}

header .mega-menu-group .mega-menu-title {
  width: 90%;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px #29333F;
}

header .mega-menu .mega-menu-item {
  margin-bottom: 15px;
  list-style-type: none;

  a {
    font-weight: 500;
    color: #29333F;
    text-decoration: none;
  }
}


header .icons {
  margin: 30px 0 0 10px;

  @media (max-width: 1300px) {
    margin-left: 20px;
  }  
  @media (max-width: 1024px) {
    display: none;
  }
}

header .icons .icon {
 width: 33%;

}

header .search {
  float: left;
  width: 24px;
  height: 24px;

  svg {
    width: 24px;
    height: 24px;  
  }
}

header .heart {
  float: left;
}
header .cart {
  float: left;

  svg {
    width: 24px;
    height: 24px;  
  }
}

header #mobile-nav {
  display: none;

  @media (max-width: 1024px) {
    display: inline-block;
  }
}

.closed {
  display: none !important;
}
